# mill output
out/
.bsp/
mill.*

# sbt output
target/
.sbt/
version.properties

# gradle output
.gradle/
.kotlin/
gradle/**/build

# IDE stuff
.idea/
.vscode/
.roo/

# metals
.metals/
metals.sbt
.bloop/
*.semanticdb

