name: Build

env:
  # https://github.com/google/google-java-format?tab=readme-ov-file#as-a-library
  JDK_JAVA_OPTIONS: |
    --add-opens=java.base/java.util=ALL-UNNAMED
    --add-opens=java.base/java.lang=ALL-UNNAMED
    --add-exports=jdk.compiler/com.sun.tools.javac.api=ALL-UNNAMED
    --add-exports=jdk.compiler/com.sun.tools.javac.code=ALL-UNNAMED
    --add-exports=jdk.compiler/com.sun.tools.javac.file=ALL-UNNAMED
    --add-exports=jdk.compiler/com.sun.tools.javac.parser=ALL-UNNAMED
    --add-exports=jdk.compiler/com.sun.tools.javac.tree=ALL-UNNAMED
    --add-exports=jdk.compiler/com.sun.tools.javac.util=ALL-UNNAMED

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  compile-all:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: "17"
          distribution: "temurin"
          cache: "sbt"
      - name: Setup sbt launcher
        uses: sbt/setup-sbt@v1
      - uses: extractions/setup-just@v3
      - name: Check sbt code formatting
        run: just code-format-check-sbt
      - name: Publish Local sbt
        run: just publish-local-sbt
      - name: Check Gradle code formatting
        run: just code-format-check-gradle
      - name: Scripted tests
        run: just test-sbt
