name: Continuous Integration

env:
  # https://github.com/google/google-java-format?tab=readme-ov-file#as-a-library
  JDK_JAVA_OPTIONS: |
    --add-opens=java.base/java.util=ALL-UNNAMED
    --add-opens=java.base/java.lang=ALL-UNNAMED
    --add-exports=jdk.compiler/com.sun.tools.javac.api=ALL-UNNAMED
    --add-exports=jdk.compiler/com.sun.tools.javac.code=ALL-UNNAMED
    --add-exports=jdk.compiler/com.sun.tools.javac.file=ALL-UNNAMED
    --add-exports=jdk.compiler/com.sun.tools.javac.parser=ALL-UNNAMED
    --add-exports=jdk.compiler/com.sun.tools.javac.tree=ALL-UNNAMED
    --add-exports=jdk.compiler/com.sun.tools.javac.util=ALL-UNNAMED

on:
  pull_request:
    branches: ["**"]
  push:
    branches: ["**"]
    tags: [v*]

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    timeout-minutes: 15
    if: github.repository == 'seroperson/jvm-live-reload'

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          java-version: "21"
          distribution: "temurin"
          cache: "sbt"
      - name: Setup sbt
        uses: sbt/setup-sbt@v1
      - uses: extractions/setup-just@v3
      - name: Check sbt code formatting
        run: just code-format-check-sbt
      - name: Publish Local sbt
        run: just publish-local-sbt
      - name: Check Gradle code formatting
        run: just code-format-check-gradle
      - name: sbt scripted tests
        run: just test-sbt
      - name: gradle tests
        run: just test-gradle

  publish:
    name: Publish Artifacts
    needs: [build]
    if: |
      github.event_name != 'pull_request' && (startsWith(github.ref, 'refs/tags/v') || github.ref == 'refs/heads/main') && github.repository == 'seroperson/jvm-live-reload'
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: "21"
          cache: sbt
      - name: Setup sbt
        uses: sbt/setup-sbt@v1
      - uses: extractions/setup-just@v3
      - name: Publish sbt
        run: just publish-sbt
        env:
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
      - name: Publish Gradle (if not SNAPSHOT)
        run: just publish-gradle || true
        env:
          GRADLE_PUBLISH_KEY: ${{ secrets.PGP_PASSPHRASE }}
          GRADLE_SECRET_KEY: ${{ secrets.PGP_SECRET }}
