name: Release

env:
  JDK_JAVA_OPTIONS: |
    --add-opens=java.base/java.util=ALL-UNNAMED
    --add-opens=java.base/java.lang=ALL-UNNAMED

on:
  push:
    branches: [main]
    tags: ["**"]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"
          cache: sbt
      - name: Setup sbt launcher
        uses: sbt/setup-sbt@v1
      - uses: extractions/setup-just@v3
      - name: Publish sbt
        run: just publish-sbt
        env:
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
      - name: Publish Gradle (if not SNAPSHOT)
        run: just publish-gradle || true
        env:
          GRADLE_PUBLISH_KEY: ${{ secrets.PGP_PASSPHRASE }}
          GRADLE_SECRET_KEY: ${{ secrets.PGP_SECRET }}
